@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
@font-face {
  font-family: digital-7;
  src: url(./fonts/digital-7.regular.ttf);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  box-shadow: 1px 1px 6px #1f2120;
}
li.flip .layer {
  height: 0;
  transition: height 0.6s ease-in;
}
.layer {
  transition: all 0.6s ease;
  background: linear-gradient(to right, #3b413f, #758779);
  box-shadow: 1px 1px 6px #1f2120;
}
.vanish .layer {
  transition: opacity 1s;
  opacity: 0;
}
button {
  background: linear-gradient(to right, #e6f2e9, #758779);
}
.outer {
  width: 80px;
  height: 40px;
}
.inner {
  font-family: digital-7;
  width: 70px;
  height: 30px;
}
.minute-box {
  margin-right: 2px;
  box-shadow: inset 0px -1px 1px #75746f, inset 0px 1px 1px #75746f;
  width: 29px;
  height: 25px;
}
.second-box {
  margin-left: 2px;
  box-shadow: inset 0px -1px 1px #75746f, inset 0px 1px 1px #75746f;
  width: 29px;
  height: 25px;
}
.timer-button {
  width: 5px;
  margin-left: -1px;
}
